
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    text-align: center;

}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:5px solid  blue; */
    height: 700px;
    width: 100%;
    margin: auto 0;
    padding-top: 0;
}
.photobucket{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    margin-left: 0;
    padding: 0;
}

#photo{
    height: 400px;
    width: 100%;
    /* border: solid 2px tomato; */
    margin: 50px auto ;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
#photobox{
    display:flex;
    /* border: 2px green solid; */
    flex-direction:column;
    /* height: 50%;
    width: 50%; */
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
#search-and-start{
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

