body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

#container {

    background-color: whitesmoke;
    margin: 25px auto;
    display: inline-block;
    justify-content: center;
}

#catDivA {
    height: 300px;
    width: 300px;
    font-size: 45px;
    padding-top: 40px;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
p {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    background-color: bisque;
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
}
 #stop-slide {
     margin: 20px auto 10px auto;
     text-align: center;
 }