body {
    margin: 0;
    background-color: rgb(67, 63, 63);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90vh;
    overflow: hidden;
}

.display-area {
    justify-content: center;
    text-align: center;
    margin-top: 400px;
}

#search-img {
    margin-top: 50px;
}