* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.search {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 1;
    background: white;
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}

.searchButton {
    padding: 0.5rem 3rem;
    margin-left: 10px;
    background: blue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.next {
    position:fixed;
    top: 90%;
    right: 0%;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.gallery {
    width: 90%;
    margin: 12vh 50%;
    transform: translateX(050%);
    display: grid;
    grid-auto-columns: repeat(5, 200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}